				<div class="container">

					<!-- メインビジュアル -->
					<div class="row">
						<div class="top-message col-md-12" style="text-align:center">
							<h1>lyrical <strong>MMK</stong></h1>
							</div>
						</div><!-- end メインビジュアル-->


						<!-- CD陳列棚 -->
						<div class="row">
							<div class="col-md-12" style="background-color: black;margin-top: 51px;">
								<!-- 検索フォーム -->
								<div class="row">
									<div class="col-md-1" style="line-height: 34px;margin: 15px 0;text-align:right;font-size: 20px;color: white;">
										<span> index</span>
									</div>
									<div class="input-group col-md-11" style="padding-right: 15px;margin: 15px auto;">
										<input type="text" class="  search-query form-control" placeholder="Search">
										<span class="input-group-btn">
											<button class="btn btn-danger" type="button">
												<span class=" glyphicon glyphicon-search"></span>
											</button>
										</span>
									</div>


									<!-- CDの陳列・一区切り -->
									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>
									<!-- CDの陳列・一区切り　ここまで -->



									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<!-- 二行目はここから開始 -->

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>


									<!-- 三行目はここから開始 -->

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<div class="thumbnail" style="text-align:center;padding-top:10px;">
											<a href="">
												<%= image_tag "51YJfX9RtDL.jpg", class: "img-circle" %>
											</a>
											<div class="caption">
												<p><b>シングル/アルバム名</b></p>
												<p>アーティスト</p>
												<p>値段</p>
											</div>
										</div>
									</div>

									<!-- CD陳列ここまで -->


									<div class="pagination col-md-12">
										<p>1</p>
										<p>2</p>
										<p>3</p>
										<p>4</p>
										<p>5</p>
										<p>></p>
										<p>>></p>
									</div>
								</div>
							</div>


						</div><!-- end CD陳列棚-->



					</div><!-- end container-->
